.ami
{

color:red;
}
.btn
{
padding: 6px 30% 6px 30%;
  margin-left : 20%;
  margin-right : 20%;
  width : 60%;

}

.mat-raised-button {
        color: darkblue;
    background-color: pink;
    width: 100%;
}
